<div class="forgot-password-container">
    <div class="forgot-password-card">
      <img src="https://themaestro.in/assets/imgs/new/logo.svg" alt="Maestro Logo" class="logo" />
      <h2>Enter Your Email!</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
        <label for="email" class="form-label">email</label>
    <input type="email" name="email" class="form-control"  placeholder="email" formControlName="email" 
     required [ngClass]="{'is-invalid':isFormSubmit && valid.email.errors}" >

     <div *ngIf="isFormSubmit && valid.email.touched" class="invalid-feedback"> 
<div *ngIf="isFormSubmit && valid.email.errors?.required" > <i>enter your email</i></div>

<div  *ngIf="isFormSubmit && valid.email.errors?.pattern"> <i>enter valid email</i></div>
 </div>
        <div *ngIf="isFormSubmit && forgotPasswordForm.controls.email.errors?.email" class="invalid-feedback">
          <i>Enter a valid email address</i>
        </div>
        
        <button type="submit" [routerLink]="['/signup']"   [disabled]="forgotPasswordForm.invalid"  >Change Password</button>

      </form>
    </div>
  </div>
  